{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "plugins": ["prettier", "jest"],
  "rules": {
    "no-console": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
